.section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
}

.span {
    display: inline-flex;
    height: 100%;
    align-items: center;
    background: #bb2d3b;
}

div .section:nth-child(1) {
    background: #606065;
    height: 400px;
}

div .section:nth-child(2) {
    background: #d4d6d9;
    height: 600px;
}

div .section:nth-child(3) {
    background: #c5c8cd;
    height: 200px;
}

div .section:nth-child(4) {
    background: #a0a6ac;
    height: 800px;
}

div .section:nth-child(5) {
    background: #60676d;
    height: 500px;
}