.square {
    margin-top: 100px;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffecb5;
    color: #222;
    font-size: 36px;
}

.info {
    position: absolute;
    top: 75px;
}

.info p:first-letter {
    font-weight: bolder;
}

.image {
    margin-top: 200px;
    width: 600px;
    height: auto;
    transform-style: preserve-3d;
}

.image strong {
    background-color: #6a1a21;
}

.axis {
    transform: rotateY(90deg);
    background-color: red;
    border-left: 10px solid black;
}

.perspective {
    perspective: 300px;
}